numpy>=1.26,<2
transformers>=4.51,<5
accelerate
datasets
safetensors
lm-eval
scipy
wandb
tqdm
fast-hadamard-transform @ git+https://github.com/Dao-AILab/fast-hadamard-transform.git@e7706faf8d1c3b9f241e36860640ad1dac644ede
